<!--
  <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
-->
<div style="text-align:centre">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a class="nav-link" routerLink="/">Home</a></li>
      <li> <a class="nav-link" routerLink="/login">Login</a></li>
      <li><a class="nav-link" routerLink="/account">Account</a></li>
    </ul>
  </div>
</nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
<router-outlet></router-outlet>
